/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/.idea/
*.unityproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.csproj
*.sln

bin/
obj/

# Builds
*.apk
*.unitypackage
/.attach*
/mono_crash.mem.*
.vs
.vsconfig
/Bundles
/BundlesServer
/Output
/Cache
/Input
/UserSettings
/Backup/
/Recordings/
/Upload
/Assets/StreamingAssets
/Assets/Plugins/Editor/JetBrains/
